*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}


#card {
  border-radius: 10px;
  background-color: white;
  font-family: Manrope;
}

#drawers-wrapper {
  width: 100%;
  aspect-ratio: 6 / 4;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin-bottom: 7vw;
}

#drawers-wrapper>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#card h1{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

#card p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

#card-content {
  padding: 0 8vw;
}

#card-content > h1 {
  font-size: 4vw;
  margin-bottom: 3vw;
}

#card-content > p {
  font-size: 3.25vw;
  margin-bottom: 5vw;
  line-height: 1.5;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

footer img{
  border-radius: 50%;
}

#footer-content {
  flex-grow: 1;
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vw;
}



#share-menu {
  display: flex;
  gap: 3vw;
}

#personal-data {
  display: flex;
  align-items: center;
}

#personal-data img{
  width: 10vw;
  height: 10vw;
  margin-right: 2vw;
}

#footer-info h1 {
  font-size: 2vw;
}

#footer-info p {
  font-size: 1.7vw;
}

#share-button {
  background-color: hsl(210, 46%, 95%);
  width: 7vw;
  height: 7vw;
  padding: 2vw;
}

footer.active {
  background-color: hsl(217, 19%, 35%);
}



footer div.desactive {
  width: 0;
  height: 0;
  overflow: hidden;
}

.attribution {
font-size: 11px;
text-align: center;
}

.attribution a {
color: hsl(228, 45%, 44%);
}